<html>
  <head>
    <title>Video Library</title>
    <link rel="stylesheet" href="css/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>

    <%- yield %>

  </body>
</html>
