<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="js/jquerymodal/jquery.modal.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="css/jquerymodal/jquery.modal.css" type="text/css" media="screen" />

<script>
    function videoEnded(vidnum) {
        $('#closemodal').click();
        localStorage.setItem(vidnum, true);
    }
    var items = [];
    
$.ajax({ 
    type: 'GET', 
    url: 'js/data.json', 
    data: { get_param: 'value' }, 
    dataType: 'json',
    cache: false,
    success: function (data) { 
        $.each(data, function(index, element) {
            items.push( "\
                <div class='video'> \
                    <figure> \
                        <a href='#ex"+index+"' rel='modal:open' class='open-modal'>\
                            <img id='#thumb"+index+"' class='thumbnail' src='" + element.thumbnail + "''> \
                        </a> \
                        <a id='closemodal' href='#ex"+index+"' rel='modal:close'></a> \
                        <figcaption id='caption"+index+"'>"+element.label+"</figcaption> \
                    </figure> \
                    <div class = 'videomodal' id='ex"+index+"' style='display:none;'> \
                        <video id = 'video"+index+"' controls onended='videoEnded(\"ex"+index+"\")'> \
                          <source src='"+element.video+"' type='video/mp4'> \
                        Your browser does not support the video tag. \
                        </video> \
                    </div> \
                </div>" );
        });
        
        $( "<div/>", {
            "class": "videos-container",
            html: items.join( "" )
          }).appendTo( "#container" );
        
        for(var i = 0; i<items.length; i++){
            if (localStorage.getItem('ex'+i+'') != null) {
               $('#caption'+i+'').append(" (watched)");
            }
        }

    }
});
</script>


<section class="video-library fade-in">
  <div class="container" id="container">
  </div>
</section>

<script>
$( window ).load(function() {
    
    var numvids = [];
    
    for (j=0; j<items.length; j++){
        numvids.push(j);
    }
    
    $.each(numvids,function(i,val){
        $('#ex'+i+'').on('modal:open',function(){
          $('#video'+i+'')[0].play();
        });
    });
});
</script>


